defaults/flow.json
[{"id":"21eaa780.a84718","type":"tab","label":"Conversation"},{"id":"d419692d.a56f18","type":"tab","label":"Analytics"},{"id":"38285f32.b518e8","type":"tab","label":"Dashboard"},{"id":"d7d5ae23.a081a","type":"tab","label":"other Slack API examples"},{"id":"5aea3fbd.08c41","type":"tab","label":"in progress"},{"id":"f8090ad9.056098","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"ed67656.9a2d398"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"dfc6d2a9.10f938","port":0}]},{"x":755,"y":169,"wires":[{"id":"e024d7dd.4736b","port":0}]}]},{"id":"4205c70d.1ed398","type":"subflow","name":"Analytics Subflow Dashboarding","info":"","in":[{"x":441,"y":193,"wires":[{"id":"56cc6192.614dc"}]}],"out":[]},{"id":"30cd18b7.072998","type":"ui_group","z":"","name":"Conversation Analytics","tab":"2bf87687.548dfa","order":2,"disp":true,"width":"12"},{"id":"2bf87687.548dfa","type":"ui_tab","z":"","name":"SlackBot","icon":"dashboard"},{"id":"383c875b.e2da58","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#c0c0c0","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c84cdb7.5d841","type":"ui_group","z":"","name":"Configuration","tab":"2bf87687.548dfa","order":1,"disp":true,"width":"5"},{"id":"20b1cd1a.a29ce2","type":"Slack Bot In","z":"21eaa780.a84718","name":"Slack API Input","apiToken":"","channel":"","x":682.3333129882812,"y":102.33332824707031,"wires":[["3d9f4f9b.df46"]]},{"id":"2e3ec9d3.86d6c6","type":"Slack Bot Out","z":"21eaa780.a84718","name":"Slack API Output","apiToken":"","channel":"","x":1022.3333740234375,"y":100.33338928222656,"wires":[]},{"id":"9b3d5ed7.10bc08","type":"debug","z":"21eaa780.a84718","name":"","active":true,"console":"false","complete":"true","x":1031.333251953125,"y":534.3333282470703,"wires":[]},{"id":"79e18f35.792b18","type":"function","z":"21eaa780.a84718","name":"","func":"\nmsg.additional_context = true;\n\nmsg.params = {\nworkspace_id: msg.workspaces[0].workspace_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700.3333740234375,"y":374.58331298828125,"wires":[["6ae54c6a.a2622c","9b3d5ed7.10bc08"]]},{"id":"6ae54c6a.a2622c","type":"watson-conversation-v1","z":"21eaa780.a84718","name":"","workspaceid":"","multiuser":false,"context":true,"x":906.3333740234375,"y":375.3333740234375,"wires":[["ea33c989.a53de","9b3d5ed7.10bc08"]]},{"id":"8c203d61.c3ed58","type":"inject","z":"21eaa780.a84718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":227.3333282470703,"y":358.33331298828125,"wires":[["79e18f35.792b18"]]},{"id":"ea33c989.a53de","type":"function","z":"21eaa780.a84718","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":1107.3333740234375,"y":372.3333740234375,"wires":[["9b3d5ed7.10bc08","2e3ec9d3.86d6c6","b11b98c5.03aee"]]},{"id":"3d82894d.f7ff36","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":195.75,"y":153.75,"wires":[["20baa3e.aea08dc"]]},{"id":"a5b234db.37e818","type":"http request","z":"d7d5ae23.a081a","name":"","method":"use","ret":"obj","url":"","tls":"","x":784.7500305175781,"y":170.75,"wires":[["ed50ff92.e84678"]]},{"id":"20baa3e.aea08dc","type":"function","z":"d7d5ae23.a081a","name":"Slack API - auth.test","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/auth.test\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":513.7500305175781,"y":172.25,"wires":[["a5b234db.37e818"]]},{"id":"ed50ff92.e84678","type":"debug","z":"d7d5ae23.a081a","name":"","active":true,"console":"false","complete":"false","x":1087.7500305175781,"y":170,"wires":[]},{"id":"e1b97ce.219f","type":"function","z":"d7d5ae23.a081a","name":"Slack API - chat.postMessage","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/chat.postMessage\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7',\n    \"channel\": '#general',\n    \"text\":'Hello world'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":483.7500305175781,"y":284.25,"wires":[["a5b234db.37e818"]]},{"id":"5b2dd4bf.cfc5ec","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":213.13333129882812,"y":295.25,"wires":[["e1b97ce.219f"]]},{"id":"a9911ed2.a2132","type":"function","z":"d7d5ae23.a081a","name":"Slack API - channels.mark","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/channels.mark\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7',\n    \"channel\": 'C5FB3GXEH',\n    \"ts\":'1495358155.979035'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":498.1333312988281,"y":492.25,"wires":[["a5b234db.37e818"]]},{"id":"715c6469.c6bc74","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222.13333129882812,"y":495.25,"wires":[["a9911ed2.a2132"]]},{"id":"3dbd3f48.a52858","type":"function","z":"d7d5ae23.a081a","name":"Slack API - channels.list","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/channels.list\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":493.1333312988281,"y":395.25,"wires":[["a5b234db.37e818"]]},{"id":"1c5e2ef.6491cd1","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":217.13333129882812,"y":389.25,"wires":[["3dbd3f48.a52858"]]},{"id":"203af6cf.58a862","type":"function","z":"d7d5ae23.a081a","name":"Slack API - channels.info","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/channels.info\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7',\n    \"channel\": 'C5FB3GXEH'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":498.1333312988281,"y":440.25,"wires":[["a5b234db.37e818"]]},{"id":"a7c76967.b508b8","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218.13333129882812,"y":432.25,"wires":[["203af6cf.58a862"]]},{"id":"1024bcae.2b8113","type":"function","z":"d7d5ae23.a081a","name":"Slack API - channels.history","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/channels.history\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7',\n    \"channel\": 'C5FB3GXEH'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":501.1333312988281,"y":546.25,"wires":[["4958cd1f.48af6c"]]},{"id":"b2c839ea.801d4","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":219.75003051757812,"y":549,"wires":[["1024bcae.2b8113"]]},{"id":"7055a01.695916","type":"function","z":"d7d5ae23.a081a","name":"channels.history - get last message","func":"\nmsg.payload = msg.payload.messages[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":1006.7500305175781,"y":541,"wires":[["4ffa988c.ba30a8"]]},{"id":"4ffa988c.ba30a8","type":"debug","z":"d7d5ae23.a081a","name":"","active":true,"console":"false","complete":"features","x":1491.75,"y":537.75,"wires":[]},{"id":"4958cd1f.48af6c","type":"http request","z":"d7d5ae23.a081a","name":"","method":"use","ret":"obj","url":"","tls":"","x":745.1333312988281,"y":542.25,"wires":[["7055a01.695916"]]},{"id":"aa9c1728.047738","type":"natural-language-understanding","z":"d7d5ae23.a081a","name":"Get Keywords from posts","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"10","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":1689.36669921875,"y":763.75,"wires":[["4ffa988c.ba30a8"]]},{"id":"b11b98c5.03aee","type":"natural-language-understanding","z":"21eaa780.a84718","name":"false","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":1259.75,"y":531.25,"wires":[["c366211e.bbc6d8"]]},{"id":"c366211e.bbc6d8","type":"debug","z":"21eaa780.a84718","name":"","active":true,"console":"false","complete":"features","x":1457.36669921875,"y":522.75,"wires":[]},{"id":"e7b65321.05592","type":"function","z":"d7d5ae23.a081a","name":"Slack API - mi.history","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/im.history\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": global.get(\"APIToken\"),\n    \"channel\": global.get(\"channelId\")\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":740.75,"y":770.75,"wires":[["abdddae.bd24aa8"]]},{"id":"33d2523f.2221e6","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":209.36666870117188,"y":776,"wires":[["6fe41b25.0fac3c"]]},{"id":"1c23cd78.ee586b","type":"debug","z":"d7d5ae23.a081a","name":"","active":true,"console":"false","complete":"false","x":1378.36669921875,"y":1236.25,"wires":[]},{"id":"abdddae.bd24aa8","type":"http request","z":"d7d5ae23.a081a","name":"","method":"use","ret":"obj","url":"","tls":"","x":1027.36669921875,"y":771,"wires":[["1c23cd78.ee586b","59f73992.08d2b"]]},{"id":"39618ea0.aefc7a","type":"function","z":"d7d5ae23.a081a","name":"Slack API - mi.list","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/im.list\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":734.75,"y":869.75,"wires":[["46875d21.e4ae44"]]},{"id":"fe1af266.289be8","type":"inject","z":"d7d5ae23.a081a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":208.75,"y":871.75,"wires":[["39618ea0.aefc7a"]]},{"id":"46875d21.e4ae44","type":"http request","z":"d7d5ae23.a081a","name":"","method":"use","ret":"obj","url":"","tls":"","x":1042.36669921875,"y":872,"wires":[["1c23cd78.ee586b"]]},{"id":"59f73992.08d2b","type":"function","z":"d7d5ae23.a081a","name":"channels.history - get last message","func":"\nmsg.payload = msg.payload.messages[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"x":1327.75,"y":765.75,"wires":[["aa9c1728.047738","1c23cd78.ee586b"]]},{"id":"6fe41b25.0fac3c","type":"function","z":"d7d5ae23.a081a","name":"Set Globals here","func":"global.set(\"APIToken\", 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7');\nglobal.set(\"channelId\", 'D5F8EKHA4');\n\nreturn msg;","outputs":1,"noerr":0,"x":442.36669921875,"y":762,"wires":[["e7b65321.05592"]]},{"id":"dfc6d2a9.10f938","type":"change","z":"f8090ad9.056098","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"ed67656.9a2d398","type":"json","z":"f8090ad9.056098","name":"","x":175.5,"y":85,"wires":[["dfc6d2a9.10f938"]]},{"id":"826f3cae.497e08","type":"catch","z":"f8090ad9.056098","name":"","scope":["ed67656.9a2d398"],"x":183.5,"y":117,"wires":[["4862b396.9e5344"]]},{"id":"4862b396.9e5344","type":"change","z":"f8090ad9.056098","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["dfc6d2a9.10f938"]]},{"id":"e024d7dd.4736b","type":"inject","z":"f8090ad9.056098","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"1a7769c6.db7096","type":"ui_template","z":"4205c70d.1ed398","group":"30cd18b7.072998","name":"Analytics Dashbaord","order":4,"width":0,"height":0,"format":"\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css\">\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js\"></script>\n <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\"></script>\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js\"></script>\n\n<div id=\"chart-example\" style=\"height: 250px;\"></div>\n\n<!--<h3 align=\"center\">Most relevant conversation content </h3>-->\n\n<script>\n\n(function(scope) {\n var timer = setInterval(function() { //check that the Morris libs are loaded, if not wait\n if (!window.Morris) return;\n clearInterval(timer);\n \n var myData;\n \n var myDonut = Morris.Donut({\n element: 'chart-example',\n data: [\n {label: \"--\", value: 10 },\n {label: \"--\", value: 100 },\n {label: \"--\", value: 10 },\n {label: \"--\", value: 10 },\n {label: \"--\", value: 50 }\n ]\n });\n \n scope.$watch('msg', function (msg) { //watch for an incoming NR msg\n if (msg) {\n \n myData = msg;\n myDonut.setData([\n {label: myData.Label1, value: myData.keyword1 },\n {label: myData.Label2, value: myData.keyword2 },\n {label: myData.Label3, value: myData.keyword3 },\n {label: myData.Label4, value: myData.keyword4 },\n {label: myData.Label5, value: myData.keyword5 }\n ])\n };\n }); //close out the watch \n }, 100); // close out the setInterval \n})(scope);\n\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":1092,"y":177.75,"wires":[[]]},{"id":"56cc6192.614dc","type":"function","z":"4205c70d.1ed398","name":"prepare information ","func":"\n\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":179.5,"wires":[["1a7769c6.db7096","5f29f11c.363cd"]]},{"id":"19ca264f.ea7a92","type":"natural-language-understanding","z":"d419692d.a56f18","name":"Get Keywords from posts","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"10","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":898.61669921875,"y":600,"wires":[["564fb487.21fb24","a6186b5d.a89858"]]},{"id":"9a33b74f.a26a9","type":"function","z":"d419692d.a56f18","name":"Slack API - mi.history","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/im.history\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": global.get(\"APIToken\"),\n    \"channel\": global.get(\"channelId\")\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":271.00001525878906,"wires":[["2ec3a8b.7cabfd8","e818b811.b8b56"]]},{"id":"a5a44a1f.0020d","type":"inject","z":"d419692d.a56f18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":192.6167755126953,"y":170.25001525878906,"wires":[["53d6e6f8.9386f8","1fd48ce5.318553","c9d7e36a.a0825"]]},{"id":"a5f5d081.7ab1d","type":"debug","z":"d419692d.a56f18","name":"","active":false,"console":"false","complete":"output","x":944.61669921875,"y":775.5,"wires":[]},{"id":"2ec3a8b.7cabfd8","type":"http request","z":"d419692d.a56f18","name":"","method":"use","ret":"obj","url":"","tls":"","x":870.61669921875,"y":275.25001525878906,"wires":[["a8134778.d9d12"]]},{"id":"1ba3a368.2a74fd","type":"function","z":"d419692d.a56f18","name":"Slack API - mi.list","func":"msg.method = \"POST\";\nmsg.url = \"https://slack.com/api/im.list\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload = {\n    \"token\": 'xoxb-185954833762-CA2jbGnrCFfO9NuprjEG5WP7'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":1060.0000762939453,"wires":[["a1c7ba21.888988"]]},{"id":"90396550.97cac8","type":"inject","z":"d419692d.a56f18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":323,"y":1060.0000762939453,"wires":[["1ba3a368.2a74fd"]]},{"id":"a1c7ba21.888988","type":"http request","z":"d419692d.a56f18","name":"","method":"use","ret":"obj","url":"","tls":"","x":878.61669921875,"y":1062.2500762939453,"wires":[["6b33a95d.d236d8"]]},{"id":"a8134778.d9d12","type":"function","z":"d419692d.a56f18","name":"channels.history - get last message","func":"global.set(\"numberMessages\", msg.payload.messages.length);\nglobal.set(\"counter\", 0);\n\nmsg.numberMessages = global.get(\"numberMessages\");\nglobal.set(\"chatContent\", \"\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1136,"y":275.00001525878906,"wires":[["54930b9c.1d21c4"]]},{"id":"176aa42f.c390f4","type":"function","z":"d419692d.a56f18","name":"Set Globals here","func":"\nreturn msg;","outputs":1,"noerr":0,"x":411.61669921875,"y":269.25001525878906,"wires":[["9a33b74f.a26a9"]]},{"id":"a6186b5d.a89858","type":"debug","z":"d419692d.a56f18","name":"","active":false,"console":"false","complete":"features","x":1048,"y":409,"wires":[]},{"id":"ad518cd7.84e94","type":"subflow:4205c70d.1ed398","z":"d419692d.a56f18","name":"","x":1446.36669921875,"y":775.5,"wires":[]},{"id":"3b7e2d3.cdf0052","type":"debug","z":"d419692d.a56f18","name":"","active":false,"console":"false","complete":"keyword1","x":1453.36669921875,"y":467.5,"wires":[]},{"id":"54930b9c.1d21c4","type":"switch","z":"d419692d.a56f18","name":"","property":"counter","propertyType":"global","rules":[{"t":"lt","v":"numberMessages","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":440.3668212890625,"y":592.25,"wires":[["984b4f55.5860a8"],["9264bda9.be4e08"]]},{"id":"984b4f55.5860a8","type":"function","z":"d419692d.a56f18","name":"","func":"\nvar counter = global.get(\"counter\");\n\nmsg.output = msg.payload.messages[counter].text;\n\nmsg.test = global.get(\"counter\");\n\nglobal.set(\"counter\", counter+1);\n\nglobal.set(\"chatContent\", global.get(\"chatContent\")+msg.payload.messages[counter].text);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":658.36669921875,"y":776.25,"wires":[["a5f5d081.7ab1d","1e5b0b17.6ff8ed"]]},{"id":"1e5b0b17.6ff8ed","type":"delay","z":"d419692d.a56f18","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":422.36669921875,"y":649,"wires":[["54930b9c.1d21c4"]]},{"id":"9264bda9.be4e08","type":"function","z":"d419692d.a56f18","name":"","func":"msg.payload = global.get(\"chatContent\");\n\nreturn msg;","outputs":1,"noerr":0,"x":623.36669921875,"y":596,"wires":[["19ca264f.ea7a92","6b33a95d.d236d8","ace4be5d.302e7"]]},{"id":"6b33a95d.d236d8","type":"debug","z":"d419692d.a56f18","name":"","active":true,"console":"false","complete":"false","x":891.36669921875,"y":677.25,"wires":[]},{"id":"564fb487.21fb24","type":"function","z":"d419692d.a56f18","name":"","func":"\n\nvar lengthArray = msg.features.keywords.length;\n\nmsg.test = msg.features.keywords[0];\n\nmsg.keyword1 = msg.features.keywords[0].relevance;\nmsg.Label1 = msg.features.keywords[0].text;\n\nmsg.keyword2 = msg.features.keywords[1].relevance;\nmsg.Label2 = msg.features.keywords[1].text;\n\nmsg.keyword3 = msg.features.keywords[2].relevance;\nmsg.Label3 = msg.features.keywords[2].text;\n\nmsg.keyword4 = msg.features.keywords[3].relevance;\nmsg.Label4 = msg.features.keywords[3].text;\n\nmsg.keyword5 = msg.features.keywords[4].relevance;\nmsg.Label5 = msg.features.keywords[4].text;\n\n\nmsg.sadness = msg.features.emotion.document.emotion.sadness;\nmsg.joy = msg.features.emotion.document.emotion.joy;\nmsg.fear = msg.features.emotion.document.emotion.fear;\nmsg.disgust = msg.features.emotion.document.emotion.disgust;\nmsg.anger = msg.features.emotion.document.emotion.anger;\n\nmsg.sentiment = msg.features.sentiment.document;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1134.36669921875,"y":599,"wires":[["3b7e2d3.cdf0052","ad518cd7.84e94","dca27b81.8180d","9226ab66.cd8f78"]]},{"id":"dca27b81.8180d","type":"debug","z":"d419692d.a56f18","name":"","active":false,"console":"false","complete":"Label1","x":1439.5,"y":526.75,"wires":[]},{"id":"9226ab66.cd8f78","type":"debug","z":"d419692d.a56f18","name":"","active":false,"console":"false","complete":"test","x":1450.75,"y":344.75,"wires":[]},{"id":"504671b7.74f628","type":"ui_text_input","z":"38285f32.b518e8","name":"","label":"API Token","group":"8c84cdb7.5d841","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1061.36669921875,"y":255.99993896484375,"wires":[["4824411e.9c25a8"]]},{"id":"3d305f15.9787b8","type":"ui_text_input","z":"38285f32.b518e8","name":"","label":"channelId","group":"8c84cdb7.5d841","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1051.75,"y":329.74993896484375,"wires":[["c83dbbef.44b9c8"]]},{"id":"4824411e.9c25a8","type":"function","z":"38285f32.b518e8","name":"Set Globals here","func":"global.set(\"APIToken\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1430.75,"y":254.74993896484375,"wires":[["d78a1c2a.d0d7e8"]]},{"id":"9c04bfd.1de4f4","type":"ui_button","z":"38285f32.b518e8","name":"","group":"8c84cdb7.5d841","order":3,"width":0,"height":0,"passthru":false,"label":"Set new default values","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":312.36669921875,"y":173.24996948242188,"wires":[["8c205423.8b5bb","a6c0bd24.e44db8"]]},{"id":"c83dbbef.44b9c8","type":"function","z":"38285f32.b518e8","name":"Set Globals here","func":"global.set(\"channelId\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1413.36669921875,"y":328.49993896484375,"wires":[["d78a1c2a.d0d7e8"]]},{"id":"8c205423.8b5bb","type":"cloudant in","z":"38285f32.b518e8","name":"","cloudant":"","database":"apitoken","service":"SlackBotCloudant","search":"_all_","design":"","index":"","x":525.36669921875,"y":612.9999694824219,"wires":[["5acfab3d.30ba5c"]]},{"id":"ec0b25e9.ff3738","type":"cloudant out","z":"38285f32.b518e8","name":"","cloudant":"","database":"apitoken","service":"SlackBotCloudant","payonly":false,"operation":"insert","x":792.36669921875,"y":413.4999694824219,"wires":[]},{"id":"d8423dd9.72618","type":"inject","z":"38285f32.b518e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":531.36669921875,"y":441.2499694824219,"wires":[["ec0b25e9.ff3738","366efa2e.b1194e"]]},{"id":"4235251e.c38f1c","type":"inject","z":"38285f32.b518e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":214.36669921875,"y":577.2499694824219,"wires":[["8c205423.8b5bb"]]},{"id":"3ca6c9a2.a5928e","type":"debug","z":"38285f32.b518e8","name":"","active":true,"console":"false","complete":"false","x":1165.36669921875,"y":515.4999694824219,"wires":[]},{"id":"5acfab3d.30ba5c","type":"function","z":"38285f32.b518e8","name":"","func":"\nglobal.set(\"counterDb\",0);\nglobal.set(\"dbLength\",msg.payload.length);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":704.36669921875,"y":609.9999694824219,"wires":[["4f8bddce.d782c4"]]},{"id":"ebbf77a6.8238a8","type":"switch","z":"38285f32.b518e8","name":"","property":"counterDb","propertyType":"global","rules":[{"t":"lt","v":"dbLength","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1332.36669921875,"y":845.4999694824219,"wires":[["4f8bddce.d782c4"],["5debe6db.df6d8"]]},{"id":"4f8bddce.d782c4","type":"function","z":"38285f32.b518e8","name":"","func":"\nvar counter = global.get(\"counterDb\");\n\nmsg.test = counter;\n\nmsg.dbObject = {\n    _id: msg.payload[counter]._id,\n    _rev: msg.payload[counter]._rev\n    \n};\n\n\n\nglobal.set(\"counterDb\", counter + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":880.36669921875,"y":613.4999694824219,"wires":[["3f048bd3.1fb5c4","fed37f46.c87608"]]},{"id":"17df58.f9ea58a8","type":"cloudant out","z":"38285f32.b518e8","name":"","cloudant":"","database":"apitoken","service":"SlackBotCloudant","payonly":false,"operation":"delete","x":1332.75,"y":601.7499694824219,"wires":[]},{"id":"19240db7.da7dd2","type":"debug","z":"38285f32.b518e8","name":"","active":true,"console":"false","complete":"test","x":1159.36669921875,"y":463.4999694824219,"wires":[]},{"id":"3f048bd3.1fb5c4","type":"delay","z":"38285f32.b518e8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1035.36669921875,"y":666.7499694824219,"wires":[["ebbf77a6.8238a8"]]},{"id":"fed37f46.c87608","type":"function","z":"38285f32.b518e8","name":"","func":"\n\n\nmsg.payload = msg.dbObject;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1143.75,"y":603.7499694824219,"wires":[["17df58.f9ea58a8"]]},{"id":"be7b47a7.a99968","type":"ui_button","z":"38285f32.b518e8","name":"","group":"8c84cdb7.5d841","order":4,"width":0,"height":0,"passthru":false,"label":"Retrieve defaults","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":292.75,"y":260.2499694824219,"wires":[["5d577328.7df9e4","1eadc570.68c3e3"]]},{"id":"5d577328.7df9e4","type":"cloudant in","z":"38285f32.b518e8","name":"","cloudant":"","database":"apitoken","service":"SlackBotCloudant","search":"_all_","design":"","index":"","x":605.36669921875,"y":261.2499694824219,"wires":[["87014fb6.0ad2d"]]},{"id":"87014fb6.0ad2d","type":"function","z":"38285f32.b518e8","name":"","func":"\nmsg.payload = msg.payload[0].payload;\n    \nreturn msg;","outputs":1,"noerr":0,"x":799.75,"y":259.2499694824219,"wires":[["504671b7.74f628"]]},{"id":"1eadc570.68c3e3","type":"cloudant in","z":"38285f32.b518e8","name":"","cloudant":"","database":"channelid","service":"SlackBotCloudant","search":"_all_","design":"","index":"","x":605.75,"y":315.2499694824219,"wires":[["8ed47e54.333028"]]},{"id":"8ed47e54.333028","type":"function","z":"38285f32.b518e8","name":"","func":"\nmsg.payload = msg.payload[0].payload;\n    \nreturn msg;","outputs":1,"noerr":0,"x":798.75,"y":317.2499694824219,"wires":[["3d305f15.9787b8"]]},{"id":"366efa2e.b1194e","type":"cloudant out","z":"38285f32.b518e8","name":"","cloudant":"","database":"channelid","service":"SlackBotCloudant","payonly":false,"operation":"insert","x":783.75,"y":448.2499694824219,"wires":[]},{"id":"e0a3e7b1.8147a","type":"cloudant out","z":"38285f32.b518e8","name":"","cloudant":"","database":"apitoken","service":"SlackBotCloudant","payonly":false,"operation":"insert","x":1786.75,"y":719.7499694824219,"wires":[]},{"id":"16f1ebc2.1f4a54","type":"cloudant out","z":"38285f32.b518e8","name":"","cloudant":"","database":"channelid","service":"SlackBotCloudant","payonly":false,"operation":"insert","x":1780.75,"y":789.7499694824219,"wires":[]},{"id":"d78a1c2a.d0d7e8","type":"debug","z":"38285f32.b518e8","name":"","active":true,"console":"false","complete":"false","x":1479.36669921875,"y":130.24993896484375,"wires":[]},{"id":"a6c0bd24.e44db8","type":"cloudant in","z":"38285f32.b518e8","name":"","cloudant":"","database":"channelid","service":"SlackBotCloudant","search":"_all_","design":"","index":"","x":517.75,"y":940.2499694824219,"wires":[["fa95b764.d4a88"]]},{"id":"fa95b764.d4a88","type":"function","z":"38285f32.b518e8","name":"","func":"\nglobal.set(\"counterDb1\",0);\nglobal.set(\"dbLength1\",msg.payload.length);\n\nmsg.test = msg.payload.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":696.75,"y":937.2499694824219,"wires":[["7747bf2a.38c28","19240db7.da7dd2","3ca6c9a2.a5928e"]]},{"id":"c2bf775a.8044c","type":"switch","z":"38285f32.b518e8","name":"","property":"counterDb1","propertyType":"global","rules":[{"t":"lt","v":"dbLength1","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1324.75,"y":1172.7499694824219,"wires":[["7747bf2a.38c28"],["a4fa058c.57f068"]]},{"id":"7747bf2a.38c28","type":"function","z":"38285f32.b518e8","name":"","func":"\nvar counter = global.get(\"counterDb1\");\n\nmsg.test = counter;\n\nmsg.dbObject = {\n    _id: msg.payload[counter]._id,\n    _rev: msg.payload[counter]._rev\n    \n};\n\n\n\nglobal.set(\"counterDb1\", counter + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":872.75,"y":940.7499694824219,"wires":[["ec30c071.ffe338","a38672ab.fc166"]]},{"id":"f60e8cde.0dbd58","type":"cloudant out","z":"38285f32.b518e8","name":"","cloudant":"","database":"channelid","service":"SlackBotCloudant","payonly":false,"operation":"delete","x":1325.13330078125,"y":928.9999694824219,"wires":[]},{"id":"ec30c071.ffe338","type":"delay","z":"38285f32.b518e8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1027.75,"y":993.9999694824219,"wires":[["c2bf775a.8044c"]]},{"id":"a38672ab.fc166","type":"function","z":"38285f32.b518e8","name":"","func":"\n\n\nmsg.payload = msg.dbObject;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1136.13330078125,"y":930.9999694824219,"wires":[["f60e8cde.0dbd58"]]},{"id":"5debe6db.df6d8","type":"function","z":"38285f32.b518e8","name":"","func":"msg.payload = global.get(\"APIToken\");\nreturn msg;","outputs":1,"noerr":0,"x":1553.36669921875,"y":722.9999694824219,"wires":[["e0a3e7b1.8147a"]]},{"id":"a4fa058c.57f068","type":"function","z":"38285f32.b518e8","name":"","func":"msg.payload = global.get(\"channelId\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1555,"y":806.7499694824219,"wires":[["16f1ebc2.1f4a54"]]},{"id":"53d6e6f8.9386f8","type":"cloudant in","z":"d419692d.a56f18","name":"","cloudant":"","database":"apitoken","service":"SlackBotCloudant","search":"_all_","design":"","index":"","x":419.566650390625,"y":87.56666564941406,"wires":[["ef51a9e9.afcd7","f6b5a429.9e7f"]]},{"id":"ef51a9e9.afcd7","type":"function","z":"d419692d.a56f18","name":"","func":"global.set(\"APIToken\", msg.payload[0].payload);\n\nmsg = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":572.949951171875,"y":80.56666564941406,"wires":[[]]},{"id":"1fd48ce5.318553","type":"cloudant in","z":"d419692d.a56f18","name":"","cloudant":"","database":"channelid","service":"SlackBotCloudant","search":"_all_","design":"","index":"","x":427.949951171875,"y":164.56666564941406,"wires":[["f8c7cde5.97c1c","f6b5a429.9e7f"]]},{"id":"f8c7cde5.97c1c","type":"function","z":"d419692d.a56f18","name":"","func":"global.set(\"channelId\",  msg.payload[0].payload);\n\nmsg = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":579.949951171875,"y":160.56666564941406,"wires":[[]]},{"id":"e818b811.b8b56","type":"debug","z":"d419692d.a56f18","name":"","active":false,"console":"false","complete":"false","x":767.449951171875,"y":359.16668701171875,"wires":[]},{"id":"f6b5a429.9e7f","type":"debug","z":"d419692d.a56f18","name":"","active":false,"console":"false","complete":"false","x":818.449951171875,"y":66.16667175292969,"wires":[]},{"id":"c9d7e36a.a0825","type":"delay","z":"d419692d.a56f18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":194.4499969482422,"y":264.58331298828125,"wires":[["176aa42f.c390f4"]]},{"id":"3d9f4f9b.df46","type":"watson-conversation-v1-workspace-manager","z":"21eaa780.a84718","name":"","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-export-content":false,"x":626.566650390625,"y":315.566650390625,"wires":[["79e18f35.792b18"]]},{"id":"87cbdbde.64372","type":"ui_button","z":"d419692d.a56f18","name":"","group":"30cd18b7.072998","order":1,"width":0,"height":0,"passthru":false,"label":"Analyze conversation history","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":135,"y":64.35000610351562,"wires":[["53d6e6f8.9386f8","1fd48ce5.318553","c9d7e36a.a0825"]]},{"id":"5f29f11c.363cd","type":"ui_template","z":"4205c70d.1ed398","group":"30cd18b7.072998","name":"numberMessages","order":5,"width":"12","height":"11","format":"\n<h1>Number of Messages: {{msg.numberMessages}}</h1>\n\n<h1>Sentiment: {{msg.sentiment}}</h1>\n\n<h1>Emotions </h1>\n<h1>sadness: {{msg.sadness}} </h1>\n<h1>joy: {{msg.joy}} </h1>\n<h1>fear: {{msg.fear}} </h1>\n<h1>disgust: {{msg.disgust}} </h1>\n<h1>anger: {{msg.anger}} </h1>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"x":1074.449951171875,"y":251.5500030517578,"wires":[[]]},{"id":"ace4be5d.302e7","type":"natural-language-understanding","z":"d419692d.a56f18","name":"false","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":true,"semantic-keywords":true,"maxsemantics":"50","x":1255.449951171875,"y":1018.0999755859375,"wires":[["44b9261.6713bd8","c2be057f.ad963"]]},{"id":"44b9261.6713bd8","type":"debug","z":"d419692d.a56f18","name":"","active":true,"console":"false","complete":"features","x":1677.449951171875,"y":1008.0833740234375,"wires":[]},{"id":"c2be057f.ad963","type":"function","z":"d419692d.a56f18","name":"","func":"\nmsg.sadness = msg.features.emotion.document.emotion.sadness;\nmsg.joy = msg.features.emotion.document.emotion.joy;\nmsg.fear = msg.features.emotion.document.emotion.fear;\nmsg.disgust = msg.features.emotion.document.emotion.disgust;\nmsg.anger = msg.features.emotion.document.emotion.anger;\n\nmsg.sentiment = msg.features.sentiment.document;\n\nreturn msg;","outputs":1,"noerr":0,"x":1367.449951171875,"y":1142.7667236328125,"wires":[["d5cbde0d.6f0ed8"]]},{"id":"d5cbde0d.6f0ed8","type":"debug","z":"d419692d.a56f18","name":"","active":true,"console":"false","complete":"sadness","x":1610.449966430664,"y":1132.0833282470703,"wires":[]},{"id":"de89dcd7.ed5928","type":"ui_template","z":"4205c70d.1ed398","group":"30cd18b7.072998","name":"header","order":3,"width":0,"height":0,"format":"<h1>5 most relevant conversation topics</h1>","storeOutMessages":true,"fwdInMessages":true,"x":1045.449951171875,"y":102.14999389648438,"wires":[[]]},{"id":"ffb5ee07.2b76b8","type":"visual-recognition-v3","z":"5aea3fbd.08c41","name":"Detect Faces","apikey":"","image-feature":"detectFaces","lang":"en","x":937.566650390625,"y":529.0833282470703,"wires":[["544de7e7.3b6588"]]},{"id":"c70e3668.c216a","type":"inject","z":"5aea3fbd.08c41","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":363.5666198730469,"y":466.5833282470703,"wires":[["c9a55364.119208"]]},{"id":"c9a55364.119208","type":"function","z":"5aea3fbd.08c41","name":"","func":"\nmsg.url= \"http://dreamicus.com/data/face/face-01.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":532.5666198730469,"y":462.5833282470703,"wires":[["712f211c.b20898"]]},{"id":"712f211c.b20898","type":"http request","z":"5aea3fbd.08c41","name":"","method":"GET","ret":"bin","url":"","tls":"","x":704.566650390625,"y":535.0833282470703,"wires":[["ffb5ee07.2b76b8"]]},{"id":"544de7e7.3b6588","type":"debug","z":"5aea3fbd.08c41","name":"","active":true,"console":"false","complete":"result","x":1192.566650390625,"y":483.8333282470703,"wires":[]},{"id":"732b1704.4f59c8","type":"visual-recognition-v3","z":"5aea3fbd.08c41","name":"","apikey":"","image-feature":"detectFaces","lang":"en","x":966.566650390625,"y":630.8333282470703,"wires":[["544de7e7.3b6588"]]},{"id":"9349fef5.860348","type":"function","z":"5aea3fbd.08c41","name":"","func":"\nmsg.url= \"https://files.slack.com/files-pri/T5EM12Z8R-F5HA39S68/download/image_uploaded_from_ios.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":542.949951171875,"y":628.3333282470703,"wires":[["9e5b4767.be263"]]},{"id":"9e5b4767.be263","type":"http request","z":"5aea3fbd.08c41","name":"","method":"GET","ret":"bin","url":"","tls":"","x":737.949951171875,"y":632.8333282470703,"wires":[["732b1704.4f59c8"]]},{"id":"94a32e45.0e51a","type":"inject","z":"5aea3fbd.08c41","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":367.949951171875,"y":608.3333282470703,"wires":[["9349fef5.860348"]]},{"id":"39428c97.b41204","type":"watson-conversation-v1-workspace-manager","z":"5aea3fbd.08c41","name":"","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-export-content":false,"x":537.64990234375,"y":241.88331604003906,"wires":[["39a2ca19.b0eb5e"]]},{"id":"ce4728c3.6bde4","type":"inject","z":"5aea3fbd.08c41","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":264.6499481201172,"y":241.18331909179688,"wires":[["39428c97.b41204"]]},{"id":"68ecf148.2c856","type":"debug","z":"5aea3fbd.08c41","name":"","active":true,"console":"false","complete":"true","x":935.64990234375,"y":358.9999542236328,"wires":[]},{"id":"39a2ca19.b0eb5e","type":"function","z":"5aea3fbd.08c41","name":"","func":"msg.payload = msg.workspaces[0].workspace_id;\n\nmsg.workspace_id = \"h\";\n\nmsg.params = { workspace_id: \"dadad\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":786.64990234375,"y":240.48329162597656,"wires":[["68ecf148.2c856"]]},{"id":"34c8f040.5b473","type":"watson-conversation-v1-workspace-manager","z":"5aea3fbd.08c41","name":"","cwm-custom-mode":"listIntents","cwm-workspace-id":"0eaa5400-cf58-474c-b5ea-66821a31a905","cwm-intent":"","cwm-example":"","cwm-export-content":false,"x":548.64990234375,"y":153.98330688476562,"wires":[["81542f9.8d2a4d"]]},{"id":"81542f9.8d2a4d","type":"debug","z":"5aea3fbd.08c41","name":"","active":true,"console":"false","complete":"intents","x":700.6499176025391,"y":92.99998474121094,"wires":[]},{"id":"b17fd6d8.e27708","type":"inject","z":"5aea3fbd.08c41","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":275.64991760253906,"y":152.18331909179688,"wires":[["34c8f040.5b473"]]},{"id":"4f3f6bf4.fe3314","type":"comment","z":"21eaa780.a84718","name":"set API Token for those nodes","info":"","x":845.449951171875,"y":44.56666564941406,"wires":[]}]